In [1]:
#Import needed libraries
import pandas as pd

In [3]:
#Load Data file
#This is the file contaning all K9 Toss and Fetch data from the beginning of the leauge till end of 2019
fname = 'league scores full master 1-14-20.xlsx'
allseasons = pd.read_excel(fname,sheet_name='All Time by SEASONS', header=6)

In [8]:
allseasons.head()

,Season,Total Teams,Overall,b,First,Last,Division,By Division,Dog,Breed,...,Week 1,Week 2,Week 3,Week 4,Week 5,MUL,H-CAP,Total Score,Club Points,Promotions
0,001-2015-FALL,78,1,A,Scott,Jones,EXPERT,NaN,Rodeo,NaN,...,28,31,40,47,45,-28,NaN,163.0,15,NaN
1,001-2015-FALL,78,2,b,Scott,Jones,EXPERT,NaN,Denali,NaN,...,33,28.5,36,43.5,40.5,-28.5,NaN,153.0,NaN,NaN
2,001-2015-FALL,78,3,A,Mark,Vitullo,EXPERT,NaN,Lulu,NaN,...,36,33,40,19,40,-19,NaN,149.0,14,NaN
3,001-2015-FALL,78,4,b,Scott,Jones,EXPERT,NaN,Tango,NaN,...,31,19.5,36,40,34,-19.5,NaN,141.0,NaN,NaN
4,001-2015-FALL,78,5,b,Mark,Vitullo,EXPERT,NaN,Zelda,NaN,...,35,28,28.5,28,38.5,-28,NaN,130.0,NaN,NaN